/*==============================
    Modal
==============================*/

.modal-title {
    background-image: url(../img/modal-title.png);
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
}
.modal-inner {
    border-bottom: 1px solid #FDE7A0;
}
.modal-button {
    border-right: 1px solid #FDE7A0;
}
.modal-inner,
.modal-button {
    color: #FDE7A0;
    background: rgba(33, 52, 12, 0.9);
}
.modal-button:active {
    /*background: #68095b;*/
}
