/*==============================
    Pesos
==============================*/

.page[data-page=weights] .icon {
    width: 29px;
    height: 29px;
    border-radius: 20%;
}
.page[data-page=weights] .icon {
    width: 29px;
    height: 29px;
    border-radius: 20%;
}
.page[data-page=weights] .list-block .swipeout-content {
    background: #FDE69F;
}