/*==============================
    Register
==============================*/

.popup.register .ks-demo-slider .slider-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /*background:#fff;*/
}
.popup.register .ks-demo-slider .slider-slide > div {
    width: inherit;
}
.popup.register .slider-pagination-active {
    background: #53B021;
}
.popup.register h1 {
    text-indent: -9999px;
    width: 240px;
    height: 334px;
    background-image: url(../img/register.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.popup.register h1,
.popup.register h2 {
    text-align: center;
}
.popup.register h2 {
    font-size: 25px;
    font-weight: 300;
}
.popup.register .list-block input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background: 0 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    padding: 0 0 0 5px;
    margin: 0;
    width: 100%;
    height: 43px;
    color: #000;
    font-size: 17px;
    font-family: inherit;
}
.popup.register div[class*="col-"] {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background-color: #21340C;
    color: #FDE69F;
    visibility: hidden;
}
.popup.register div[class*="col-"].bodyMassIndex {
    visibility: inherit;
}
.popup.register div[class*="col-"] div:first-child {
    margin-top: 100%;
}
.popup.register div[class*="col-"] .numero,
.popup.register div[class*="col-"] .texto {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}
.popup.register div[class*="col-"] .numero {
    font-weight: bold;
    font-size: 20px;
    font-size: 6.2vw;
    margin-top: 25%;
}
.popup.register div[class*="col-"] .texto {
    font-size: 12px;
    font-size: 3.9vw;
    margin-top: 60%;
}
.popup.register .icon {
    width: 29px;
    height: 29px;
    border-radius: 20%;
    background-color: #21340C;
}
.popup.register .icon.name {
    background-image: url(../img/name.png);
}
.popup.register .icon.sex {
    background-image: url(../img/sex.png);
}
.popup.register .icon.dateOfBirth {
    background-image: url(../img/dateOfBirth.png);
}
.popup.register .icon.weight {
    background-image: url(../img/weight.png);
}
.popup.register .icon.height {
    background-image: url(../img/height.png);
}
.popup.register .icon.physicalActivity {
    background-image: url(../img/physicalActivity.png);
}
.popup.register .bodyMassIndex.saludable,
.popup.register .icon.saludable {
    background-color: #00CD0F;
}
.popup.register .bodyMassIndex.delgado,
.popup.register .icon.delgado {
    background-color: #C2CD00;
}
.popup.register .bodyMassIndex.sobrepeso,
.popup.register .icon.sobrepeso {
    background-color: #CD6300;
}
.popup.register .bodyMassIndex.obeso,
.popup.register .icon.obeso {
    background-color: #CD0011;
}
.popup.register .bodyMassIndex.morbido,
.popup.register .icon.morbido {
    background-color: #B000CD;
}
.popup.register .button.active {
    background: #21340C;
    color: #FDE69F;
    border: 1px solid #21340C;
}